#input-in, #input-wn, #input-wd {
    width: 33%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#evals {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px
}

#evals th, #evals td {
    text-align: center;
    padding: 12px;
}

#evals tr {
    border-bottom: 1px solid #ddd;
}

.notFirst:hover {
    background-color: rgba(241, 241, 241, 0.07);
}

.toggle{ display: none;}

body {
    font-family: sans-serif;
    background-color: #1F3140;
    color: white;
    
    align-content: center;

    font-size: 25px;
}

button {
    font-size: 20px;


    width: 100%;
    margin-top: 5px;
    padding: 12px;

    border: none;
    background: #808080;
    color: #fff;

    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #bdd0ef;
    color: black;
}

table {
    background-color: #3F637F;
}